@model RegisterViewModel;
@{
    ViewData["Title"] = "Register";
    Layout = "_AccountLayout";
}

<div class="registration-form">
    <form asp-action="Register" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-icon">
            <span><i class="icon icon-user"></i></span>
        </div>

        <div class="form-group">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control item" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control item" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Phone" class="form-label"></label>
            <input asp-for="Phone" class="form-control item" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Birthdate"></label>
            <input asp-for="Birthdate" class="form-control" />
            <span asp-validation-for="Birthdate" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Gender"></label>
            <select asp-for="Gender" class="form-control">
                <option value="">Select Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
            <span asp-validation-for="Gender" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password" class="form-label"></label>
            <input asp-for="Password" class="form-control item" type="password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ConfirmPassword" class="form-label"></label>
            <input asp-for="ConfirmPassword" class="form-control item" type="password" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <div class="form-group">
            <button type="submit" value="Register" class="btn btn-block create-account">Register</button>
        </div>

        <br />

        <div class="no-account text-center">
            <h6>Already have an account?</h6>
            <a asp-controller="Account" asp-action="Login" class="text-decoration-none">Login</a>
        </div>
    </form>
</div>



@section Scripts 
{
    <partial name="_ValidationScriptsPartial" />
}